{
  "extends": ["prettier"],
  "plugins": ["react","prettier","unused-imports"],
  "rules": {
     "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": [
      "warn",
      { "vars": "all", "varsIgnorePattern": "^_", "args": "after-used", "argsIgnorePattern": "^_" }
    ],
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "all",
        "printWidth": 120,
        "tabWidth": 2,
        "semi": true,
        "useTabs": false,
        "bracketSpacing": true,
        "jsxBracketSameLine": false,
        "arrowParens": "always",
        "endOfLine": "auto",
      }
    ]
  }
}